.destination-area {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $black;
        content: '';
        height: 100%;
        z-index: -1;
        opacity: .75;
    }

    .destinations {
        .destination {
            position: relative;
            cursor: pointer;
            height: 400px;
            overflow: hidden;

            &::after {
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background: $black;
                content: '';
                transform: scale(1);
                opacity: 0.8;
                z-index: 1;
            }

            &:hover {
                &::after {
                    left: 0%;
                    transition: 300ms;
                    transform: scale(1);
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: auto;
                min-height: 100%;
                min-width: 100%;
            }

            .destination-content {
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: auto;
                color: #fff;
                padding: 10px 10px 0px 10px;
                transition: 300ms;
                z-index: 9;
            }

            &:hover  {
                .destination-content {
                    bottom: 0;
                }
            }
        }
        
    }
}