.resort-area {
    .resorts {
        .resort {
            position: relative;
            padding-bottom: 20px;
            margin: 15px;

            .resort-thumbnail {
                height: 230px;
                position: relative;
                overflow: hidden;
                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    max-width: auto;
                    min-width: 100%;
                    min-height: 100%;
                    transition: 300ms;
                }
            }

            .resort-content {
                padding: 10px;

                .resort-location {
                    color: $gray;
                    font-size: 14px;
                }
    
                .resort-title {
                    margin-bottom: 10px;
                    padding: 5px 0px;
                    h2 {
                        font-size: 28px;
                        color: $dark;
                    }
                }
    
                .resort-rating {
                    font-size: 12px;
                    color: $orange;
                }
            }

            .resort-price {
                position: absolute;
                top: 10px;
                right: 0;
                width: auto;
                background: #000000d2;
                color: $white;
                padding: 5px 10px;
                border-radius: 25px 0px 0px 25px;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0px 5px 15px 0px #00000031;
                transition: 300ms ease-out;

                .resort-thumbnail {
                    img {
                        transform: scale(1.1);
                        transition: 300ms;
                    }
                }

                .resort-title {
                    h2 {
                        color:  $default;
                    }
                }
            }
        }
        

        .owl-nav {
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;
                left: -100px;
                transform: translate(0px, -50%);
                opacity: 0;
                transition: 300ms;
                font-size: 50px !important;
                color: $lightGray;
                outline: none;

                &:hover {
                    color: $dark;
                }
            }

            .owl-next {
                left: auto;
                right: -100px;
            }
        }
    }

    &:hover {
        .owl-nav {
            .owl-prev{
                left: -50px;
                opacity: 1;
            }

            .owl-next {
                right: -50px;
                opacity: 1;
            }
        }
    }
}

.search-resorts {
    .resort {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;

        .resort-thumbnail {
            flex: 0.8;
            overflow: hidden;
        }

        .resort-content {
            flex: 1;
            margin: 0px 0px 0px 15px;
            position: relative;

            .resort-location {
                color: $gray;
                font-size: 14px;
            }

            .resort-title {
                margin-bottom: 5px;
                padding: 5px 0px;
                h2 {
                    font-size: 25px;
                    color: $dark;
                }
            }

            .resort-rating {
                font-size: 12px;
                color: $orange;
            }

            .resort-action {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .resort-price {
            position: absolute;
            top: 10px;
            left: 0;
            width: auto;
            background: #000000d2;
            color: $white;
            padding: 5px 10px;
            border-radius: 0px 25px 25px 0px;
        }
    }
}

.resort-details {
    .resort {
        .resort-thumbnail {
            
            img {
                width: 100%;
            }
        }

        .resort-content {

        }
     }
}