$poppins: 'Roboto', sans-serif;
$raleway: 'Roboto', sans-serif; /* default text font */

// choose theme color
$green: #73be2e;
$darkGreen: #6cb428;
$blue: #e48315;
$darkBlue: #ce7510;
$orange: #fcb714;
$black: #0f0f0f;
$white: #ffffff;
$gray: #858585;

// theme color
$default: $blue;
$dark: #313a45;
$lightGray: #d1d1d1;

// shadow
$shadowBlack: #00000035;

// footer background
$footerTopBg: #181818;
$footerBottomBg: #131313;